<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>edit</title>
    <link rel="stylesheet" href="/static/main.css"/>
  </head>
  <body>
    <nav>
      <a href="/nav/{{name}}.html">page</a>
      <a href="/page/{{name}}.html">printable</a>
      <a href="/edit/html/{{name}}">edit</a>
      <a href="/log.html?page={{name}}">history</a>
    </nav>
    <form method="post">
      <textarea cols="79" rows="25" name="page">{{content}}</textarea>
      <p><label for="message">Message</label></p>
      <p><input name="message" id="message" required=""/></p>
      <input type="hidden" name="token" value="{{token}}"/>
      <p><input type="submit" value="Submit"/></p>
    </form>
  </body>
</html>
