<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>log</title>
    <link rel="stylesheet" href="/static/main.css"/>
  </head>
  <body>
%if name is None:
  %include site_nav.html
%else:
  %include nav.html name=name
%end
    <ul>
%for change in log:
      <li>
        <time>{{change["time"]}}</time>
        {{change["author"]}}
        {{change["message"].split("\n", 1)[0]}}
        <a href="/{{change["revision"]}}/diff.html">diff</a>
        <a href="/{{change["revision"]}}/visual_diff.html">visual diff</a>
        <a href="/{{change["revision"]}}/revert.html">revert</a>
      </li>
%end
    </ul>
  </body>
</html>
