<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>login</title>
    <link rel="stylesheet" href="/static/main.css"/>
  </head>
  <body>
    <form method="post">
      <p><label for="username">Username</label></p>
      <p><input name="username" id="username" required=""/></p>
      <p><label for="password">Password</label></p>
      <p><input type="password" name="password" id="password" required=""/></p>
      <p><input type="submit" value="Submit"/></p>
      <input type="hidden" name="url" value="{{url}}"/>
    </form>
  </body>
</html>
